In [1]:
import pandas

# cadCAD configuration
from cadCAD.configuration.utils import config_sim
from cadCAD.configuration import Experiment

# cadCAD Engine
from cadCAD.engine import ExecutionMode, ExecutionContext
from cadCAD.engine import Executor

# cadCAD global simulation configuration list
from cadCAD import configs

In [2]:
from balancerv2cad.WeightedPool import WeightedPool

In [3]:
df = pandas.read_csv('COINBASE_DAIUSD_5.csv')

In [4]:
df

               time;open;high;low;close;Volume;Volume MA
0      2020-12-07T13:30:00Z;1.005035;1.005035;1.00461...
1      2020-12-07T13:35:00Z;1.004602;1.00485;1.004601...
2      2020-12-07T13:40:00Z;1.004764;1.004851;1.00447...
3      2020-12-07T13:45:00Z;1.004607;1.00485;1.004277...
4      2020-12-07T13:50:00Z;1.004652;1.004923;1.00456...
...                                                  ...
25035  2021-03-04T13:50:00Z;1.001945;1.001945;1.00119...
25036  2021-03-04T13:55:00Z;1.001292;1.001496;1.00119...
25037  2021-03-04T14:00:00Z;1.001285;1.001596;1.00119...
25038  2021-03-04T14:05:00Z;1.001451;1.001896;1.00144...
25039  2021-03-04T14:10:00Z;1.001843;1.001846;1.00180...

[25040 rows x 1 columns]

In [6]:
def p_move_through_time(params, substep, state_history, prev_state):
    step = params['timestep']
    return {'carbon_price': pandas.iloc['price'][step]}